<!DOCTYPE html>
<html>
<head>
	<title>Shiv Shakti Construction</title>
  <style> 
  body
    {
      background-image: url("../static/6.jpg");
      background-repeat: no-repeat;
      background-size:cover;
    }
    body{
    opacity: 100;
    }
  </style>
</head>
<body>
	<header>
		<h1>Shiv Shakti Construction</h1>
		<nav>
			<ul>
				<a class = "menu-link" href="#">Home</a>

				<a class = "menu-link" href="#">About</a>
				<a class = "menu-link" href="#">Contact</a>
			</ul>
		</nav>
	</header>
	<main>
		<h2>About Us</h2>
		<p>We are a company that specializes in creating websites and web applications.</p>
		<h2>Contact Us</h2>
		<p>For inquiries, please send an email to info@mywebsite.com</p>
	</main>
	<footer>
		<p>&copy; 2023 My Website. All rights reserved.</p>
	</footer>
</body>
</html>
